/* GLOBAL STYLES */

body{
	background-color: #fff;
}

code{
    font-size: 1.1em;
    font-weight: bold;
}

/* WRAPPER */

.wrapper{
    width: 948px;
    margin: 0 auto;
}

/* HEADER */

.header{
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

/* NAVIGATION */

.menu{
    background-color: silver;
    border: 1px solid gray;
}
.main-nav{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.link-item{
    margin: 0px 15px 0 10px;
    padding: 0;
    text-decoration: none;
    color: black;
    padding: 17px;
}
.link-item:active{
    color: black;
    background-color: #8d8d8d;
    padding: 18px;
    color: white;
}
.link-item:hover{
    background-color: #575757;
    color: white;
}

/* MAIN */

.main-content{
    border: 3px double gray;
    background-color: #dedede;
    padding: 10px;
}