body{
    margin: 0;
}
html{
    font-family: sans-serif;
}
.nav{
    list-style-type: none;
    display: flex;
    padding: 0;
}
.nav-link{
    display: flex;
    padding: 10px;
}
.header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}